/**,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}*/

html {
  //font-size: 62.5%;
  //
  // Adaptation de la taille de la police en fonction de la largeur de l'écran
  // texte redimensionnable sans requêtes de média queries
  //
  font-size: calc(0.75em + 1vmin);
}

body {
  box-sizing: border-box;
  background: $color-fondblanc;
  max-width: 1590px;
  min-width: 299px;
  width: 100%;
  margin: auto;
}

/*.wrapper {
  width: 100%;
  margin: 0 auto;
}*/

/*img {
    max-width: 100%;
    height: auto;
}*/
