// page index
.logo {
  width: 20%;
}

#EntBtn {
  color: #8f5bfe;
  font-weight: bold;
  background-color: white;
  margin-right: 10px;
}

#infoPanier {
  margin-bottom: 0px;
}

.hauteur-div {
  height: 390px;
}

.img-cover {
  object-fit: cover;
  //border-top-left-radius: 20px;
  //border-bottom-left-radius: 20px;
}

.w-95P {
  width: 95%;
}

.img-bord-arrondi {
  @media only screen and (max-width: 767px) {
    border-top-right-radius: 20px;
  }
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bord-arrondi {
  border: solid 2px #343a40;
  border-radius: 20px;
  box-shadow: 1px 1.5px #e0e0e0;
}

.couleur-btn-1 {
  background-color: #8f5bfe;
  border: none;
}

// .couleur-btn-1:hover {
//   background-color: #e58a0c;
//   border: none;
// }

.colorIconePanier {
  color: #8f5bfe !important;
}

.btn-link-couleur {
  color: #8f5bfe;
  font-weight: bold;
}
